/* styles.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa; /* Light background */
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #ffffff; /* White background */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: #5a2d82; /* Purple tone */
}

header nav a {
    color: #333333; /* Dark text */
    font-weight: bold;
    transition: color 0.3s;
}

header nav a:hover {
    color: #5a2d82; /* Purple tone hover */
}

.btn-primary {
    background-color: #5a2d82; /* Purple tone */
    border-color: #5a2d82;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #472464; /* Darker purple */
    border-color: #472464;
}

/* Hero Section */
.hero {
    background-color: #e9ecef; /* Light gray background */
    padding: 50px 20px;
    text-align: center;
    height: 100vh;
}
.hero .hero-content h1 p{
    color: #5a2d82;
    margin-left: 20px;
}
.hero .hero-content span {
    color: #5a2d82; /* Bootstrap blue */
}
.hero .hero-buttons a {
    margin: 5px 10px;
}
.hero .hero-para span{
    color: #212529;
    font-weight: bold;
}
/* Large screens only */
@media (min-width: 1024px) {
    .hero-image {
        width: 60%;
        margin-left: 100px;
    }
    .info-image {
        width: 65%;
    }
}
/* Info Section */
.info-section {
    background-color: #ffffff;
    padding: 50px 20px;
    text-align: center;
    height: 100vh;
}
.info-section .info-text h2 {
    color: #5a2d82;
}
.info-section .info-text span {
    color: #5a2d82;
}
.info-section .info-text a {
    margin-top: 15px;
}

/* Responsive Design */
@media (max-width: 768px) {
    header nav {
        text-align: center;
    }

    .hero .hero-content, .info-section .info-text {
        text-align: center;
    }

    .hero-buttons, .info-text a {
        display: block;
    }
}

.header-image{
    margin-left: 10px;
    height: 11vh;
}